*{
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
   height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.parent{
  min-height: 100vh;
  width: 100%;
  padding: 30px;
  background-color: #111;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  
}
.card{
  height: 330px;
  width: 280px;
  background-color: rgb(248, 248, 248);
  border-radius: 30px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top{
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 30px;
}

.top img{
  height: 42px;
  width: 42px;
  border-radius: 50%;
}

.top button{
  display: flex;
  align-items: center;
  background-color: transparent;
  gap: 3px;
  font-size: 11px;
  border-radius: 5px;
border: 2px solid #8b8b8b;
}

.center{
  padding: 20px 0px;
  
}
.center h3{
  font-size: 17px;
  font-weight: 500;

}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 20px ;
}

.center .tag{
  display: flex;
  margin-top: 10px;
  gap: 5px;
}
.center .tag h4{
  font-size: 12px;
  padding: 3px 8px;
  background-color: #dadada;
  color:#111;
  border-radius: 5px;
  font-weight: 500;
}




.bottom{
  padding: 20px 0px;
  display: flex;
  border-top: solid 1.5px #b1b1b1;
justify-content: space-between;
align-items: center;
}

.bottom button{
display: flex;
background-color: #111;
color: aliceblue;
padding:5px 10px;
align-items: center;
border: none;
border-radius: 5px;
}

.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}