*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
   color: azure;
}
html,
body{
  height: 100%;
  width: 100%;
  
}
body{
 background-color: black;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.card{
  border: 2px solid white;
  padding: 20px;
  width: 290px;
  border-radius: 10px;
  text-align: center;
  background-color: #222;
}
.card img{
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}
 .card p{
 margin: 20px;

 }
 button{
  padding: 10px 20px;
  background-color: green;
  border-radius: 5px;
 }