.Main{
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.box{
  margin-left: 40px;
  height: 200px;
  width: 220px;
  background-color: #333;
  border-radius: 10px;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btns{
  margin-top: 30px;
}
button{
  margin: 10px;
  padding: 10px;
  background: royalblue;
  border-radius: 10px;
}